/**
 * Configuration file example
 */
const char *ssid = "";
const char *password = "";
const char* hostname = "physical-interface";

/**
 * Pin layout
 */
const uint16_t PIN_RADIO_TRANSMITTER = D7;
const uint16_t PIN_RADIO_RECIEVER = D8;
const uint16_t PIN_PIR  = D1;
const uint16_t PIN_DHT  = D6;
const uint16_t PIN_IR_RECIEVER = D4;
const uint16_t PIN_IR_SEND = D2;
const uint16_t PIN_LDR  = A0;
const uint16_t PIN_ACTIVE_BUZZER  = D5;
const uint16_t PINS_SOIL_MOISTURE[] = {D3,D9,D10};
